.Choices{
    display:flex;
    gap: 10px;
    && span{
        border-radius: 4px;
        border: 1px solid rgba(224, 226, 231, 1);
        padding: 10px;
        min-width: 98px;
        max-width: 150px;
        overflow: hidden;
        text-align:center;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.5%;
        color: rgba(50, 49, 53, 0.7);
        cursor: pointer;
        margin: 16px;
    }
}

@media (max-width:500px) {
    .Choices{
        display:flex;
        gap: 1px;
        && span{
            border-radius: 4px;
            border: 1px solid rgba(224, 226, 231, 1);
            padding: 5px;
            min-width: 68px;
            max-width: 120px;
            overflow: hidden;
            text-align:center;
            font-weight: 500;
            font-size:17px;
            line-height: 20px;
            letter-spacing: 0.5%;
            color: rgba(50, 49, 53, 0.7);
            cursor: pointer;
            margin: 12px;
        }
    }
}