            .input_container {
                margin: 15px 0px;
                flex: 1;
                max-width: 40%;
                display: flex;
                align-items: center;
                border: 1px solid #E0E2E7;
                border-radius: 8px;
                padding: 4px 8px;
                font-weight: 500;
                font-size: 14px;
                width: fit-content;

                & input {
                    border: none;
                    outline: none;
                    padding: 4px 8px;
                    font-weight: 500;
                    font-size: 14px;
                    width: 100%;
                    color: #5E5E5E;
                }
            }

         #datePiker {
                font-weight: 400;
                font-size: 14px;
                width: fit-content;
                min-width: 300px;
                max-width: 300px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 5%;
                height: 39px;
                color: #2A2F3B;
                position: relative;

                .dateLable {
                    color: #BABABA;
                }

                .dateRange {
                    position: absolute;
                    z-index: 1000;
                    top: 130%;
                    box-shadow: 0px 4px 8px 0px #00000069;
                }

            }


@media (max-width:500px) {
    .input_container {
        margin: 15px 0px;
        flex: 1;
        max-width: 100%;
        display: flex;
        align-items: center;
        border: 1px solid #E0E2E7;
        border-radius: 8px;
        padding: 4px 8px;
        font-weight: 500;
        font-size: 14px;
        width: fit-content;

        & input {
            border: none;
            outline: none;
            padding: 4px 8px;
            font-weight: 500;
            font-size: 14px;
            width: 100%;
            color: #5E5E5E;
        }
    }
    #datePiker {
        font-weight: 400;
        font-size: 14px;
        width: fit-content;
        min-width: 270px;
        max-width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5%;
        height: 39px;
        color: #2A2F3B;
        position: relative;

        .dateLable {
            color: #BABABA;
        }

        .dateRange {
            position: absolute;
            z-index: 1000;
            top: 130%;
            box-shadow: 0px 4px 8px 0px #00000069;
        }

    }

}