.nav{
    display: flex;
    justify-content:space-between;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
    && span{
        font-weight: bold;
    }
    /* && span{
        flex: 1;
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: rgb(93, 92, 92);
    } */
}

@media print {
  
    && body {
      margin: 0;
      padding: 0;
    }
  
    .parent {
      padding: 0;
      margin: 0;
      width: 100%;
    }
  
    .printBtn {
      display: none !important;
    }
  
    .nav {
      justify-content: space-between;
      padding: 10px 20px;
      width: 100%;
      flex-wrap: wrap; /* ✅ خليه يلف لو المساحة ضيقة */
      white-space: normal !important; /* ✅ خليه يلف النصوص */
      gap: 15px;
    }
  
    .nav span,
    .nav p {
      white-space: normal !important; /* ✅ يمنع القصّ */
      word-break: break-word;
    }
  
  }