/* forms/contact us */
.parent{  
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    & header{
        width: 545px;
       & h1{
            font-weight: 700;
            font-size: 54px;
            margin: 0;
            padding: 0;

            & span{
                color: var(--Secondary-color);
            }
        }
        & p{
            font-size: 14px;
            font-weight: 600;
            color:#323135;
        }
    }  

    .form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;
        & input{
           
            background-color: #fff;
        }

         & button {
            width: 545px;
            height: 50px;
            color: white;
            padding: 12px 24px;
            background-color: var(--Primary-color);
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

}


@media (max-width:670px) {
    .parent{  
        display: flex;
        flex-direction: column;
        align-items:center ;
        justify-content: center;
        max-width: 330px;
        
        & header{
            /* width: 545px; */
           
            max-width: 98%;
           & h1{
                font-weight: 700;
                font-size: 54px;
                margin: 0;
                padding: 0;
    
                & span{
                    color: var(--Secondary-color);
                }
            }
            & p{
                font-size: 14px;
                font-weight: 600;
                color:#323135;
            }
        }  
    
        .form{
            display: flex;
            align-items: center;
            max-width: 100%;

            flex-direction: column;
            gap: 20px;
            margin-top: 40px;
            & input{

                background-color: #fff;
                max-width: 70%;
            }
            & textarea{
                width:280px;
                min-width:100%;
            }
    
             & button {
                width: 545px;
                max-width: 70%;
                height: 50px;
                color: white;
                padding: 12px 24px;
                background-color: var(--Primary-color);
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    
    }
}