.parent{

    /* grid-column: 2; */
    background-color: #EEEEEE80;
        & nav{
        height: 80px;
        padding: 10px 20px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        .pikers{
            flex: 1;
            display: flex;
            align-items: center; 
            gap:25px;         
            .input_container{
                flex: 1;
                max-width: 30%;
                display: flex;
                align-items: center;
                border: 1px solid #E0E2E7;
                border-radius: 8px;
                padding: 4px 8px;
                font-weight: 500;
                font-size: 14px;
                width: fit-content;
                & input{
                    border: none;
                    outline: none;
                    padding: 4px 8px;
                    font-weight: 500;
                    font-size: 14px;
                    width: 100%;
                    color: #5E5E5E;
                }
            }
    
            #datePiker{
                font-weight: 400;
                font-size: 14px;
                width: fit-content;
                max-width: 270px;
                display: flex;
                align-items: center;
                gap: 5%;
                height: 39px;
                color: #2A2F3B;
                position: relative;
                .dateLable{
                    color: #BABABA;
                }
                .dateRange{
                    position: absolute;
                    z-index: 1000;
                    top: 130%;
                    box-shadow:  0px 4px 8px 0px #00000069;
                }
    
            }
    
            #FiltersPiker{
                font-weight: 400;
                font-size: 14px;
                max-width: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                gap: 7px;
                height: 39px;
                color: #667085;
                cursor: pointer;
                position: relative;

                .filterOptions{
                    position: absolute;
                    z-index: 1000;
                    top: 110%;
                    left: 0;
                    padding: 16px 16px 16px 16px;
                    box-shadow:  0px 4px 8px 0px #00000069;
                    width: 220px;
                    height: 156px;
                    border:1px solid #1C1C1C1A;
                    border-radius: 8px;
                    background: #FFFFFF;
                    /* background: #793f3f; */
                    display: flex;
                    flex-direction: column;
                    .title{
                        font-size: 12px;
                        font-weight: 400;
                        color: #71717A;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .reset:hover{

                            color: #38383d;
                            font-weight: 500;
                        }   
        
                    }
                    .checkBoxGroup{
                        .label{
                            font-size: 14px;
                            font-weight: 400;
                            color: #333333;
                        }
                        
                    }
                }
            }
        }

        .button{
            height: 40px;
            border-radius: 6px;
            padding-top: 14.09px;
            padding-right: 22.14px;
            padding-bottom: 14.09px;
            padding-left: 22.14px;
            gap: 7.48px;
            background-color: var(--Secondary-color);
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;

            cursor: pointer;
        }
    }

   & #Summeries{
        width: 98%;
        min-height: 289px;
        /* height: 289px; */
        background-color: #FFFFFF;
        /* background-color: #575454; */
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        margin: 20px auto 7px;
        /* background-color: rgb(146, 144, 144); */
        display: flex;
        flex-direction: column;
        align-items: center;


        & h3{
          font-size: 20px;
          font-weight: 600;
          padding: 16px 20px;
          width: calc(100% - 4%);
        }

        .box_container{
            min-width: 800px;
            overflow: auto;
          width: 99.6%;
          display: grid;
          grid-template-columns: repeat(auto-fit, 180px);
          /* gap: 4%; */
          row-gap: 10px;
          column-gap: 4%;
          align-items: center;
          justify-content: center;
          /* background-color: #425166; */

          .Box{
               width: 180px;
               height: 114px;
               border-radius: 16px;
               text-align: left;
               display: flex;
               justify-content: space-between;
               /* flex-direction: column; */
               gap: 5px;
               padding: 16px 10px;
               & div{
                    /* width: 100%; */
                    height: 40px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
     
                    .icon{
                         display: inline-block;
                         width: 35px;
                         height: 35px;
                         border-radius: 10px;   
                         color: #FFFFFF;
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         font-size: 22px;
                    }
               }
               .Text{
                 display: flex;
                 flex-direction: column;
                 align-items: flex-start;
                 text-align: left;
                   .info{
                        font-size: 2rem;
                        font-weight: 600;
                        display: flex;
                        color: #000000bb;
                        /* align-items: center; */
    
                        /* background-color: #696666; */
                   }
                   .title{
                        font-size: 0.9rem;
                        font-weight: 400;
                        color:#343c47;
                        /* background-color: #8e8b8b; */
                   }
               }
             }        
        }


   }

   & #Totals{
     width: 98%;
     min-height: 289px;
     background-color: #FFFFFF;
     /* background-color: #575454; */
     border-radius: 20px;
     margin-left: auto;
     margin-right: auto;
     /* background-color: rgb(146, 144, 144); */
     display: flex;
     flex-direction: column;
     align-items: center;

     & h3{
          font-size: 20px;
          font-weight: 600;
          padding: 16px 20px;
          width: calc(100% - 4%);
        }
        .info_container{
          width: 100%;
          display: flex;
          row-gap: 10px;
          column-gap: 4%;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          .Box{
               background: #7675751a;
               border-radius: 10px;
               box-shadow: 1px 2px 4px #00000018;
               width: 240px;
               height: 179px;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               text-align: center;
          }
        }
     
   }
}


/* === START RESPONSIVE === */
