.parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    grid-column: 2;
    gap: 50px;
    & h2{
        font-weight: 500;
        font-size: 24px;
        white-space: nowrap;
    }
    & div{
        display: flex;
        /* gap: 20px; */
        align-items: center;

    }
}

@media print {
    .parent{
        display: none;
    }
}