.btn {
    height: 40px !important;
    border-radius: 6px !important;
    padding-top: 14.09px !important;
    padding-right: 22.14px !important;
    padding-bottom: 14.09px !important;
    padding-left: 22.14px !important;
    gap: 7.48px !important;
    background-color: var(--Secondary-color);
    color: #FFFFFF !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer !important;
}
