.btn{
    height: 40px;
    border-radius: 6px;
    padding-top: 14.09px;
    padding-right: 22.14px;
    padding-bottom: 14.09px;
    padding-left: 22.14px;
    gap: 7.48px;
    background-color: var(--Secondary-color);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}