.card{
    width: 312px;
    height: 370px;
    transition: 0.5s;
    background-color: white;
    /* background-color: rgb(129, 123, 123); */
    padding: 22px 15px;
    border-radius: 16px;
    box-shadow: 0px 2px 8px 0px #00000026;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s;
    cursor: pointer;
    & img{
        width: 100%;
        height: 274px;
        border-radius: 8px;
        object-fit: cover;
        transition: 0.5s;
    }
    .notImg{
        width: 100%;
        height: 274px;
        border-radius: 8px;
        background-color: #49f18125;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6rem;
        color: var(--Secondary-color);
        transition: 0.5s;
    }

}

.card:hover{
    background-color: rgb(224, 222, 222);
    transition: 0.5s;
}

.cardFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: 0.5s;
    .icon{
        color: #A4A7AE;
        font-size: 1.2rem;
        transition: 0.5s;
        /* position: absolute; */
    }
    & h3{
        font-size: 20px;
        font-weight: 400;
        width: 100%;
    }
}

.menuContainer {
    /* position: relative;  */
    position: absolute;
    right: 0%;
    z-index: 1200;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdownMenu {
    position: absolute;
    top: 22px; /* المسافة بين الأيقونة والمنيو */
    right: 0;
    background: #ffffff;
    border-radius: 8px;
    padding: 6px 0;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    z-index: 1000;
    width: 90px;
    display: flex;
    flex-direction: column;
  }
  
  .dropdownMenu button {
    background: #fff;
    border: none;
    width: 100%;
    color: #2a2929;
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: left;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s;
    .menuIcon{
        font-size: 22px;
        opacity: 0.5;
    }
    .menuIcon:hover{
        opacity: 1;
    }
  }
  
  .dropdownMenu button:hover {
    background: rgba(94, 93, 93, 0.1);
  }